<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 추가</title>
</head>
<body>
    <h3>사용자 추가</h3>
    <label>이름</label><input type="text" id="nameInput"><br>
    <label>생년월일</label><input type="text" id="birthdayInput"><br>
    <label>이메일</label><input type="text" id="emailInput"><br>
    <label>자기소개</label><br>
    <textarea rows="7" cols="50" name="introduce" id="introduceInput"></textarea><br>
    <button type="button" id="addBtn">추가</button>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(#addBtn).on("click",function () {
            let name = $("#nameInput").val();
            let birthday = $("#birthdayInput").val();
            let email = $("#emailInput").val();
            let introduce = $("#introduceInput").val();

            if (name == "") {
                alert("이름을 입력하세요");
                return ;
            }

            if (birthday == "") {
                alert("생일을 입력하세요");
                return ;
            }

            if (email == "") {
                alert("이메일을 입력하세요");
                return ;
            }

            if (introduce == "") {
                alert("자기소개를 입력하세요");
                return ;
            }

            $.ajax({
                type:"post"
                , url:"/ajax/user/add"
                , date: {"name":name, "birthday":birthday, "email":email, "introduce":introduce}
                , success:function (response) {
                    if (response.result == "success") {
                        alert("추가 성공!");
                    } else {
                        alert("추가 실패!");
                    }
                }
                , error:function () {alert("에러!");}
            })

        })
    </script>

</body>
</html>